.custom-button {
  background-color: #1a1a1a !important;
  border-color: #1fe879 !important;
  color: #fff !important; /* Màu chữ trắng để dễ nhìn */
}

.custom-button:hover {
  color: #1fe879 !important; /* Đổi màu chữ khi hover */
}
